**/__pycache__
**/.classpath
**/.dockerignore
# **/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/*Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

**/.github
**/.gitlab
**/*.gitlab-ci.yml

# vim
**/*.swp
**/*.swo
# Pycharm
**/.idea
# VS Code
**/.vscode
**/.vs
# Spyder
**/.spyproject/
# Jupyter NB Checkpoints
**/.ipynb_checkpoints/
**/.notebook

# venvs
env/
venv/

# database
**/*.sqlite3
**/*.db
**/*.rdb

# Video Samples
*/cameras/video_samples
*.mp4
